
html {
    font-size: 62.5%;
    font-family: 'Caveat', cursive, Arial, Helvetica, sans-serif
}

body {
    display: flex;
   
    padding: 20px; 
    background:plum; 
}


#title {
    padding: 20px;
    align-self: center;
    font-size: 6rem;
    font-weight:900;  
}

#canvas {
    width: 500px;
    height: 500px;
    display: grid;
}

#sketchPadContainer {
    flex-direction: row;
}